/* 
* @Author: xby020
* @Date:   2017-06-22 14:08:10
* @Last Modified by:   xby020
* @Last Modified time: 2017-06-24 18:04:12
*/
/*
引入ICONFONT图标;
重置所有字体；
*/

/*CSS RESET*/

/*已由Bootstrap替用*/


/*iconfont*/

/*引入iconfont，需手动更新*/
@font-face {
  font-family: 'iconfont';  /* project id 333724 */
  src: url('//at.alicdn.com/t/font_uoax0k9pffkihpvi.eot');
  src: url('//at.alicdn.com/t/font_uoax0k9pffkihpvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_uoax0k9pffkihpvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_uoax0k9pffkihpvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_uoax0k9pffkihpvi.svg#iconfont') format('svg');
}
/*设置默认iconfont样式*/
.iconfont{
    font-family:"iconfont" !important;
    font-size:inherit;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
}


/*重置字体*/
body{
  font-family: -apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif;
}